body {
    font-family:"Comic Sans MS", "Comic Sans", cursive;
}


.banner{
    background-image: url(../images/Fondo.jpeg);
    height: 300px;
    font-size: 180%;
    background-size: cover;
    background-position-y: 72%;
    background-position-x: 50%;
    display: flex;
    align-items: center;
    padding-left: 50px;
}
.banner_titulo h1 {
    font-weight: normal; 
}

.negrita {
    font-weight: bold;
}

.subtitulo{
    margin-top: -30px;
}

.auto {
    display: flex;
    align-items: center;
    margin-top: 20px;
    background-color:rgb(201, 221, 233);
    border-radius: 20px;
    border-width: 50px;
    border: black solid;
}

.img {
    width: 300px;
    height: auto;
    padding: 20px;
}

.precio {
    margin-top: -10px;
}


footer {
    background-color: rgb(99, 99, 99);
    color: white;
    padding: 1px;
    text-align: center;
    margin-top: 30px;
}