body {
    font-family:"Comic Sans MS", "Comic Sans", cursive;
}

.header{
    background: url('../images/fondo.jpg') no-repeat center center/cover;
    height: 250px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 50px;
    color: white;
}
.header_titulo h1 {
    font-weight: normal; 
}

.negrita {
    font-weight: bold;
    color: wheat;
}

.subtitulo{
    margin-top: -15px;
}

.suple {
    display: flex;
    align-items: center; 
}

.img {
    width: 300px;
    height: auto;
    margin-left: 30px;
    margin-top: 50px;
}

.txt, .precio {
    padding-left: 20px;
}

.precio {
    margin-top: -10px;
}


footer {
    background-color: goldenrod;
    color: white;
    padding: 1px;
    text-align: center;
    margin-top: 30px;
}