body {
    font-family:"Comic Sans MS", "Comic Sans", cursive;
}


.banner{
    background: url('../images/fondo.jpg') no-repeat center center/cover;
    height: 250px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 50px;
}
.banner_titulo h1 {
    font-weight: normal; 
}

.negrita {
    font-weight: bold;
}

.subtitulo{
    margin-top: -15px;
}

.planta {
    display: flex;
    align-items: center; 
}

.img {
    width: 300px;
    height: auto;
    margin-left: 30px;
    margin-top: 50px;
}

.txt, .precio {
    padding-left: 25px;
}

.precio {
    margin-top: -15px;
}


footer {
    background-color: rgb(134, 87, 0);
    color: white;
    padding: 1px;
    text-align: center;
    margin-top: 30px;
}